:root {

/*PRIMARY COLORS*/
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
/*NEUTRAL COLORS*/
    /*paragraphs*/
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    
    /*background, headings, buttons*/
    --Very-light-gray: hsl(0, 0%, 95%);
/*PRIMARY COLORS*/

    --big-shoulders: 'Big Shoulders Display';
    --lexend: 'Lexend Deca', sans-serif;;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 80%;
    height: auto;
    margin: 50px auto;
}

.card-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*GENERAL CARD STYLES*/

.card {
    min-width: 256px;
    max-width: 300px;
    min-height: 400px;
    max-height: 450px;
    padding: 40px;
}

.card img {
    width: 60px;
    margin-bottom: 25px;
}

.card h2 {
    margin-bottom: 25px;
    font-family: var(--big-shoulders);
    font-size: 4rem;
    font-weight: 400;
    color: white;
}

.card p {
    margin-bottom: 50px;
    font-family: var(--lexend);
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: left;
    color: var(--Transparent-white);
}

.card a {
    font-size: 1.2rem;
    font-family: var(--lexend);
    color: var(--Bright-orange);
    font-weight: normal;
    text-decoration: none;

    padding: 15px 35px;
    border-radius: 25px;
    background-color: var(--Very-light-gray);
}

.sedan {
    color: var(--Bright-orange);
}

.suv a {
    color: var(--Dark-cyan);
}

.luxury a {
    color: var(--Very-dark-cyan);
}


/*COLORS FROM CARDS AND CORNERS STYLES*/
.sedan {
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0px 0px;

}

.suv {
    background-color: var(--Dark-cyan);
}

.luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0px 0px 10px 10px;
}


/*SIGN STYLES*/

.attribution {
    width: 100%;
    height: 50px;
    margin: 0px auto 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution p {
    font-size: 1.6rem;
    font-family: var(--lexend);
    
}